* {
    margin: 0;
    padding: 0;
}

*.dark-theme {
    color: white;
}

body {
    background-color: white;
}

body.dark-theme {
    background-color: #121212;
}

.main-content {
    text-align: center;
}

.main-content h1 {
    font-family: 'Major Mono Display', monospace;
    padding: 15px;
}

.main-content h1 dark-theme {
    color: white;
}

.main-content p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 19px;
    padding: 10px;
}

.main-content #clock {
    margin-top: 10px;
    font-size: 180px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#theme-change {
    height: 65px;
    width: 44.39px;
    float: right;
    margin-right: 40px;
    margin-top: -565px;
}
