* {
    margin: 0;
    padding: 0;
}

.main-content {
    text-align: center;
}

.main-content h1 {
    font-family: 'Major Mono Display', monospace;
    padding: 15px;
}

.main-content p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 19px;
    padding: 10px;
}

.main-content #clock {
    margin-top: 10px;
    font-size: 180px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}